@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    
}

body {
    background: linear-gradient(#e66465, #9198e5);;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.heading {
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 1.25em;
}

.heading h1 {
    display: flex;
    gap: 0.5em;
}

.container {
    background: white;
    border: 1px solid black;
    border-radius: 0.3em;
    width: 90%;
    max-width: 50em;   
}


#new-task {
    padding: 1.8em 1.25em;
    border-radius:  0.5em;
    display: grid;
    grid-template-columns: 1.25fr 0.25fr 1fr 0.25fr;
    gap: 0.5em;
}

#new-task input {
    font-size: 1em;
    border: none;
    border-bottom: 2px solid lightslategray ;
    padding: 0.8em 0.5em;
    font-weight: 500;

}

#new-task focus {
    outline: none;
    border-color: #2980B9 ;
}

#new-task button {
    font-weight: 500;
    font-size: 1.25em;
    background-color: rgb(17, 201, 140);
    color: white;
    outline: none;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
}

ul li {
    list-style: none;
    font-size: 1em;
    font-weight: 500;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    
}